html, body{
font-family: "open sans", "helvetica Neue", helvetica, arial, sans-serif;
background-color: #f3f3f4;
color: #676a6c;
height: 100%;
 margin: 0;
 padding: 0;
 overflow: auto;


}
.box{
border: 1px red dotted;
}

.display-table{
display: table;
padding: 0px;
height: 100%;
width: 100%;
}
.display-table-row{
display: table-row;
height: 100%;
}
.display-table-cell{
display: table-cell;
float: none;
height: 100%;
}
.valign-top{
vertical-align: top ;
}
iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100%;        /* Viewport-relative units */
    width: 100%;
}
